 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*
	Colour Palette
	
	Primary green: #7cc576 ;
	Background blue: #6dcff6 ;
	Font Black: #000000 ;
*/

/***********************
		Mobile First
************************/
p {
	font-family: 'Arimo', sans-serif;
	font-size: 10pt;
}

.col-main,.col-footer, img {
	width: 100%;
}

/*header style*/
header {
	background: #7cc576;
	height: 230px;
}

h1 {
	box-sizing: border-box;
	font-size: 32pt;
	float: left;
	padding: 40px;
}


.logo {
	float: left;
	width: 135px;
	box-sizing: border-box;
	margin-top: 15px;
}

.desktop-nav {
	float: left;
	width: 100%;
	max-width: 1290;
	display: none;
}

.desktop-nav ul {
	width: 100%;
	box-sizing: border-box;
}

.desktop-nav li {
	box-sizing: border-box;
	width: calc(25% - 60px);
	float: left;
	background: #6dcff6;
	margin: 0px 30px 10px 30px;
	border-radius: 5px;

}

.main-nav a {
	display: block;
	padding: 20px;
	text-decoration: none;
	font-size: 18pt;
	text-align: center;
	background: #6dcff6;
	border-radius: 5px;
	color: black;
}

.mobile-nav {
	width:100%;
	clear: both;
}

.mobile-nav-container {
	position: relative;
	clear: both;
}

.mobile-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: #6dcff6;
	border-bottom: 2px solid #121212;

}

/*main content styles*/
h2{
	font-size: 20pt;
	padding-bottom: 5px;
}

h3{
	font-size: 16pt;
	padding: 15px 0px 15px 0px;
	text-align: left;
}



.site-content {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	background-image: url(../img/circles-light.png);
}

.col-main {
	padding: 15px;
	width: 65%;
	float: left;
	box-sizing: border-box;
}

.sec-content {
	box-sizing: border-box;
	clear: both;
}

.site-sidebar {
	padding: 15px;
	width: 35%;
	box-sizing: border-box;
	float: left;
}

.image-gallery-container {
	text-align: center;
}


.image-gallery-container .img-slide {
	float: left;
	width: 33%;
}

.image-gallery-container .img-slide img {
	width: 185px;
	height: 140px;
}

figcaption {
	font-size: 12pt;
	text-align: center;
}

/*footer styles*/
footer {
	height: 110px;
	background: #7cc576;
	width: 100%;
	box-sizing: border-box;
}

.footer-container {
	height: 110px;
	line-height: 110px;
	text-align: middle;
	margin-left: 20px;
}
.col-footer {
	float: right;
	width: 25%;
	margin-right: 20px;
}

.soc-med-links li {
	float: right;
	padding: 5px;
}

.soc-med-links img {
	vertical-align: middle;
}


/*This media query targets, tablet and above*/
@media only screen and (min-width: 768px) {
	
	/*header styles*/

	/*the following css is used to restrict the content beyond 1280px*/
	/*This is to make sure the main content is in the readbable area for large screen sizes*/
	header, main, footer {

		max-width: 960px;
		margin: 0 auto;

	}

	.desktop-nav {
		display: block;
	}

	.mobile-nav {
		display: none;
	}